{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JollyFoods</title>

    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<!---------------------------------Nav Bar  ------------------------------------------->
   <div class="navbar">
       <a href="{% url 'homepage' %}" class="logo">JollyFoods.</a>

       <ul class="navbar-menu">
           <li><a href="{% url 'homepage' %}">Home</a></li>
           <li><a href="{% url 'menu' %}">Menu</a></li>
           <li><a href="{% url 'contact' %}">Contact Us</a></li>
           <li><a href="{% url 'mobile' %}">Mobile-app</a></li>
       </ul>

           <div class="hamburger">
               <div class="search-icon">
                  <i class="fa-solid fa-magnifying-glass"></i>
               </div>
                   <div class="shopping-cart">
                     <i class="fa-solid fa-basket-shopping"></i>
                     <span class="dot"></span>     <!-- small red dot -->
                   </div>
               <button>sign in</button>
           </div>

   </div>

<!-------------------END OF NAVBAR------------------>


<!----------------------------HEADER------------------------------------------------------>
   <div class="header">
       <div class="header-contents">
           <h2>Order your favorite food here</h2>
           <p>Choose from a diverse menu featuring a delectable array of dishes crafted with the finest ingredients and culinary expertise.Our mission is to satisfy your cravings and elevate your dining experience,one delicious meal at a time</p>
           <button> View Menu</button>
       </div>
   </div>

<!------------------END OF HEADER--------------->


<!-------------------------------EXPLORE-MENU----------------------------------------->
   <div class="explore-menu" id="explore-menu">
        <h1>Explore our menu</h1>
        <p class="explore-menu-text">Choose from a diverse menu featuring a delectable array of dishes crafted with the finest ingredients and culinary expertise.Our mission is to satisfy your cravings and elevate your dining experience,one delicious meal at a time</p>
        <div class="explore-menu-list">
            {% for item in menu_list %}
                <div class="explore-menu-list-item">
                    <img src="{% static 'assets/' %}{{ item.menu_image }}" alt="{{ item.menu_name }}">
                    <p>{{ item.menu_name }}</p>
                </div>
            {% endfor %}
        </div>
        <hr/>
   </div>

<!--------------STORE-CONTEXT-------------------------------------------------------------->
     <div class="food-display" id="food-display">
        <h2>Top dishes near you</h2>
        <div class="food-display-list">
            {% for food in food_list %}
              <div class="food-item">
                <img src="{% static 'assets/' %}{{ food.image }}" alt="{{ food.name }}">
                <h3>{{ food.name }}</h3>

                 <!--  for loop for star ratings ---->
                <div class="rating">
                    {% for i in "12345" %}
                        {% if forloop.counter <= food.rating %}
                            <i class="fa-solid fa-star" style="color:gold;"></i>
                        {% else %}
                            <i class="fa-regular fa-star" style="color:gold;"></i>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
              <p>{{ food.description }}</p>
              <p>${{ food.price }}</p>
            {% endfor %}
        </div>
    </div>


</body>
</html>